/* GLOBAL STYLES
-------------------------------------------------- */

/* Padding below the footer and lighter body text */
body {
    padding: 40px 0;
    color: #5a5a5a;
    display: block !important;
}
a:hover {
    color: #4BABDF;
    text-decoration: none;
}
.page-scroll{
    cursor: pointer;
}
.navbar-inner h1{
    margin:0 !important;
    padding: 0 !important;
}
.col-lg-4{
    width: 20%;
    display: inline-block;
    float: left;
    min-width: 180px;
    margin-right: 2em;
}
.col-lg-8{
    display: inline-block;
}
.img-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


/* INTRO-SECTION CONTENT
-------------------------------------------------- */
.intro-section {
    height: 100%;    
    text-align: center;
    background-color: #5a5a5a;
}

.pickupline {
    font-family: "Century gothic", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    line-height: inherit;
    color: #ddd;
    padding: 80px 0 40px 0;
    text-align: left;
}
.pickupline p {
    margin: 1em 5em 1em 1em;
}
.etat-civil {
    font-size: .8em;
    line-height: inherit;
    color: #1d1d1d;
    padding: 0;
}
.address {
    font-size: .8em;
    line-height: inherit;
    color: #1d1d1d;
    padding: 0 0 3em 0 ;
}
.etat-civil p,
.address p {
    display: inline;
    line-height: inherit;
    padding: 0 1.5em;
    border-right: 1px dashed #2d2d2d;
}
.etat-civil p:first-child,
.address p:first-child {
    padding-left: 0;
}
.etat-civil p:last-child,
.address p:last-child {
    padding-right: 0;
    border: none;
}
.address a {
    color: inherit;
}
.address a:hover {
    color: #4BABDF;
    text-decoration: none;
}


/* EXPERIENCE-SECTION CONTENT
-------------------------------------------------- */

section {
    position: relative;
    margin: 0 auto;
    padding: 0;
}
h2 {
    font-size: 2.8em;
    color: #434343;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.4em;
    margin-bottom: .8em;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
h3 {
    font-size: 2.2em;
    color: #ababab;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 40px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
h4 {
    font-size: 1.6em;
    color: inherit;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: .8em;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
h5{   
    font-size: .9em;
    color: #ababab;
    text-transform: uppercase;
    margin-top: 1.8em;
    margin-bottom: .6em;
    line-height: 1;
}
cite {
    display: block;
    font-style: italic;
    color: #ababab;
    background-color: #F8F8F8;
    margin-bottom: 1em;
}
cite:before,
cite:after {
    content: "\"";
    font-family: "Georgia", serif;

}
.role,
.date {
    text-align: center;
}
.date {
    font-size: .85em;
    color: #898989;
    line-height: .5em;
}
.text-muted {
    color: #999;
}
.strong {
    font-size: 1.2em;
    color: #999;
    line-height: 1;
}
.small {
    color: #ababab;
}

span.lines {
    border-top: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
}


/* RESPONSIVE CSS
-------------------------------------------------- */
 @media (min-width: 768px) {
    /* Remove the edge padding needed for mobile */
    .intro-section {
        padding-left: 0;
        padding-right: 0;
    }
    /* Navbar positioning foo */

    nav .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}


/* CLEALY HIGHLIGHTING STYLES
-------------------------------------------------- */

/* selection */
 html.clearly_highlighting_enabled ::-moz-selection {
    background: rgba(246, 238, 150, 0.99);
}
html.clearly_highlighting_enabled ::selection {
    background: rgba(246, 238, 150, 0.99);
}
/* cursor */
 html.clearly_highlighting_enabled {
    /* cursor and hot-spot position -- requires a default cursor, after the URL one */
    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text;
}
/* highlight tag */
 em.clearly_highlight_element {
    font-style: inherit !important;
    font-weight: inherit !important;
    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");
    background-repeat: repeat-x;
    background-position: top left;
    background-size: 100% 100%;
}
/* the delete-buttons are positioned relative to this */
 em.clearly_highlight_element.clearly_highlight_first {
    position: relative;
}
/* delete buttons */
 em.clearly_highlight_element a.clearly_highlight_delete_element {
    display: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    line-height: 0;
    position: absolute;
    width: 34px;
    height: 34px;
    left: -17px;
    top: -17px;
    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
em.clearly_highlight_element a.clearly_highlight_delete_element:hover {
    background-position: -34px 0px;
}
/* retina */
 @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    em.clearly_highlight_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png");
    }
    em.clearly_highlight_element a.clearly_highlight_delete_element {
        background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png");
        background-size: 68px 34px;
    }
}

