body {
    display: block !important;
}
/* INTRO-SECTION CONTENT
-------------------------------------------------- */
.intro-section {
    height: 100%;
    padding: 130px 0 80px 0;
    text-align: center;
    background: #5a5a5a;
}
.intro-section h2 {
    font-weight: normal;
    color: #ddd;
}
.intro-section .col-lg-4 p {
    margin: 0 10px;
    color: #aaa;
}
.intro-section .col-lg-4 a.btn {
    margin: 15px 0 0 0;
}
.intro-section img.img-circle {
    width: 140px; 
    height: 140px;
}
